{% extends 'main.html'%} {% block content%}


<body>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th><a href="{% url 'creat-user' %}">افزودن</a></th>
                    <th class="hidden"></th>
                    <th>کد ملی </th>
                    <th>سن </th>
                    <th>نام خانوادگی </th>
                    <th>نام</th>
                </tr>
            </thead>
            <tbody>
                {% for User in Userdb %}
                <tr>
                    <td><a href="{% url 'update-user' User.id %}">ویرایش</a></td>
                    <td><a href="{% url 'User-delete' User.id %}">حذف</a></td>
                    <td>0{{User.cod}} </td>
                    <td>{{User.age}} </td>
                    <td>{{User.family}} </td>
                    <td>{{User.Name}} </td>

                </tr>
                {% empty %} {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock content %}